In [23]:
#ans-1

#using loop
#find sum of 1 to 10

sum=0
for i in range(11):
    if(i<=10):
        sum=i+sum
print("sum of first 10 numbers is",sum)

sum of first 10 numbers is 55

In [29]:
#using while loop
sum=0
i=0
while (i <=10):
    sum=sum+i
    i=i+1
print("sum of first 10 numbers is",sum)

sum of first 10 numbers is 55

In [4]:

#ans-2
#sum of the first 10 natural number and their product
i=10
sum=0
multiplication=1
while i>0:
    sum=sum+i
    multiplication=multiplication*i
    i=i-1
print(sum,multiplication)

55 3628800

In [38]:
#ans-3
unit=int(input("enter numner of unit consumed in a month:"))
if unit <=100:
    amount=unit*4.5
elif unit>100 and unit<=200:
        amount=4.5*100+(unit-100)*6
elif unit>200 and unit<=300:
        amount=4.5*100+100*6+(unit-200)*10
else:
    amount=4.5*100+6*100+100*10+(unit-300)*20
print(amount)

enter numner of unit consumed in a month: 310

2250.0

In [7]:
#ans -4

l=[]
n=100
i=1
#using while loop
while i<=n:
    if(i%4==0 or i%5==0):
       l.append(i)
    i=i+1
print("cube of number",l)

cube of number [4, 5, 8, 10, 12, 15, 16, 20, 24, 25, 28, 30, 32, 35, 36, 40, 44, 45, 48, 50, 52, 55, 56, 60, 64, 65, 68, 70, 72, 75, 76, 80, 84, 85, 88, 90, 92, 95, 96, 100]

In [8]:
l=[]
n=100
i=1
#using for loop
for i in range(n):
    if(i<=n):
        if(i%4==0 or i%5==0):
            l.append(i)
    i=i+1
print("cube of numbers",l)

cube of numbers [0, 4, 5, 8, 10, 12, 15, 16, 20, 24, 25, 28, 30, 32, 35, 36, 40, 44, 45, 48, 50, 52, 55, 56, 60, 64, 65, 68, 70, 72, 75, 76, 80, 84, 85, 88, 90, 92, 95, 96]

In [16]:
#ans-5
s="I want to become a data scientist"
s1=s.lower()
print(s)
count=0
l=['a','e','i','o','u']
for i in s1:
    if i in l:
        count=count+1
print("number of vowels",count)

I want to become a data scientist
number of vowels 12