In [ ]:
#assignment of 30 january

In [45]:
# Question 1
marks=int(input("enter your marks"))
if marks>90:
    print("grade A")
elif marks>80 and marks<=90 :
    print ("grade B")
elif marks >= 60 and marks<=80:
    print("grade C")
else:
    print("grade D")

enter your marks 50

grade D

In [46]:
#question 2
cost_price=int(input("enter cost price of bike"))
if cost_price > 100000:
    tax=cost_price*15/100
    print(tax)
elif cost_price>50000 and cost_price<=100000:
    tax=cost_price*10/100
    print(tax)
else :
    tax=cost_price*5/100
    print(tax)

enter cost price of bike 5000

250.0

In [47]:
# question 3
city=input(" enter any city from Delhi, Agra,Jaipur")
if city.upper()=="DELHI":
    print("Red Fort")
elif city.upper()=="AGRA":
    print("Taj Mahal")
elif city.upper()=="JAIPUR":
    print("Jal Mahal")

 enter any city from Delhi, Agra,Jaipur delhi

Red Fort

In [48]:
#question number 4

num=int(input("enter number"))
def divisible_by_3(num):
    count = 0
    while num > 10:
        num = num / 3
        count =count+1
    return count
divisible_by_3(num)

enter number 90

2

In [49]:
#question number-5
#In python, a while loop is used to execute a block of statements repeatedly 
#until a given condition is satisfied. And when the condition becomes false,
#the line immediately after the loop in the program is executed.

num=0
while (num<5):
    num=num+1
    print("hello")
    
#output-here we start num variable with 0 and the the condition is num is less 
#than 5 the program will execute till our condition will satisfy and num will
#incrase by 1 . when num value  0,1,2,3,4  our condition will satify and print hello 
#when n will 5 our condition will false it will not execute.

hello
hello
hello
hello
hello

In [51]:
#question number 6-

#first example-factorial
number= int(input("enter your number"))
factorial=1
while number > 0:
    factorial=factorial*number
    number=number-1
factorial

enter your number 5

120

In [58]:
#second example-table of 6

i=int(input("enter a number whose table you want to know-"))
j=1
while j<=10:
    w=i*j
    print(i,"*",j,"=",i*j)
    j=j+1

enter a number whose table you want to know- 6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [71]:
#third example-
##use while with else
n=5
i=1
while i<n:
    print(i)
    if i==3 :
        break
    i=i+1
else:
    print("this will be executed when while will complete successfully ")

1
2
3

In [76]:
#question 7 and 8
i=10
while i>0:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1